Docummentation/Righten.aux
Docummentation/Righten.fdb_latexmk
Docummentation/Righten.fls
Docummentation/Righten.log
Docummentation/Righten.out
Docummentation/Righten.toc
Docummentation/Righten.idx
Docummentation/Righten.ilg
Docummentation/Righten.ind
Docummentation/Righten.lof
Docummentation/Righten.lol
Docummentation/Righten.lot
Docummentation/Righten.synctex.gz
Sources/__pycache__/Config.cpython-310.pyc
