Docummentation/Righten.aux
Docummentation/Righten.fdb_latexmk
Docummentation/Righten.fls
Docummentation/Righten.log
Docummentation/Righten.out
Docummentation/Righten.toc
Docummentation/Righten.idx
Docummentation/Righten.ilg
Docummentation/Righten.ind
Docummentation/Righten.lof
Docummentation/Righten.lol
Docummentation/Righten.lot
Docummentation/Righten.synctex.gz
Righten_bibliography.lnk
Sources/web/RightenWeb/.env
Sources/web/key.pem
Sources/web/rightenlog.log
Sources/Database/RightenDB/*
Sources/.env
*__pycache__*