{% extends 'layout.html' %}
{% block content %}

<!--#TODO: Change so user can add multiple records in one transaction-->
<div class="col-sm-10 ml-auto mr-auto">
    <form action="" method="POST">
        {{ form.csrf_token() }}
        <fieldset class="form-group">
            <legend class="mb-4">Add Bill</legend>
            <div class="row form-group">
            <div class="col form-group">
                {{ form.datetime.label(class="form-control-label") }}
                {% if form.datetime.errors %}
                {{ form.datetime(class="form-control form-control-sm is-invalid") }}
                {% for error in form.datetime.errors %}
                <div class="invalid-feedback">
                    <span>{{error}}</span>
                </div>
                {% endfor %}
                {% else %}
                {{ form.datetime(class="form-control form-control-sm") }}
                {% endif %}
            </div>

            <div class="col form-group">
                {{ form.amount.label(class="form-control-label") }}
                {% if form.amount.errors %}
                {{ form.amount(class="form-control form-control-sm is-invalid") }}
                {% for error in form.amount.errors %}
                <div class="invalid-feedback">
                    <span>{{error}}</span>
                </div>
                {% endfor %}
                {% else %}
                {{ form.amount(class="form-control form-control-sm") }}
                {% endif %}
            </div>

            <div class="col form-group">
                {{ form.medium.label(class = "form-control-label") }}
                {{ form.medium(class = "form-control form-control-sm") }}
            </div>

            <div class="col form-group">
                {{ form.comment.label(class = "form-control-label") }}
                {{ form.comment(class = "form-control form-control-sm") }}
            </div>

            <div class="col">
                {{ form.submit(class="btn btn-success", value="Add record")}}
            </div>
        </div>
        </fieldset>
    </form>
</div>
<br></br>

<div class="col-sm-10 ml-auto mr-auto ">
    <H2>Bills</H2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">DateTime</th>
                <th scope="col">Amount</th>
                <th scope="col">Medium</th>
                <th scope="col">Comment</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                    <tr>
                        <td>{{entry.ID}}</td>
                        <td>{{entry.DateTime.strftime("%Y-%m-%d")}}</td>
                        <td>{{entry.Amount}}</td>
                        <td>{{entry.Medium}}</td>
                        <td>{{entry.Comment}}</td>
                        <td><a href="{{ url_for('edit', table='Bills', entry_id = entry.ID) }}" class="btn btn-outline-danger btn-sm">Edit</a></td>
                        <td><a href="{{ url_for('delete', table='Bills',entry_id = entry.ID) }}" class="btn btn-outline-danger btn-sm">Delete</a></td>
                    </tr>
            {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
