{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-10, col-sm-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="ExpendituresOverTime"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10, col-sm-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="TopTypeExpenditures"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10, col-sm-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="ExpendituresSummary"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10, col-sm-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="TopProductsSummary"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    {% block javascript %}
        <script>
            let ExpendituresSummaryData = JSON.parse({{ ExpendituresSummaryData | tojson }})
            let ExpendituresSummaryTypes = JSON.parse({{ ExpendituresSummaryTypes | tojson }})
            let MonthlyExpenditures = JSON.parse({{ MonthlyExpenditures | tojson }})
            let TopTypeExpenditures = JSON.parse({{ TopTypeExpenditures | tojson }})
            let TopProductsExpenditures = JSON.parse({{ TopProductsExpenditures | tojson }})

            let ExpendituresSummarychart = new Chart(document.getElementById("ExpendituresSummary"), {
                type: 'pie',
                data: {
                    labels: ExpendituresSummaryTypes,
                    datasets: [{
                        label: "Expenditures type",
                        data: ExpendituresSummaryData,
                        backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68',
                            '#B276B2', '#E16851', '#FB8267'],
    
                        borderWidth: 1,
                        hoverBorderColor: "black",
                        hoverBorderWidth: 2,
                        hoverBackgroundColor: 'rgba(154, 245, 140)',
                        pointHoverRadius: 5
                    }]
                },
                options: {
                        title: {
                            display: true,
                                text: "Expenditures type summary",
                                    fontSize: 20,
                        },
                        legend: {
                            position: "right",
                                labels: {
                                fontColor: "gray"
                            },
                            display: true
                        },
    
                        elements: {
                            hitRadius: 3,
                        }
                }
            })

            let ExpendituresOverTime = new Chart(document.getElementById("ExpendituresOverTime"), {
                type: "line",
                data: {
                    datasets: [{
                        label: "Expenditures",
                        data: MonthlyExpenditures,
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }]
                }
            })

            let TopTypeExpenditureschart = new Chart(document.getElementById("TopTypeExpenditures"), {
                type: "line",
                title: {
                        display: true,
                        text: "Top 10 Types",
                        fontSize: 20,
                        },
                data: {
                    datasets: TopTypeExpenditures
                }
            })

            let TopProductsExpenditureschart = new Chart(document.getElementById("TopProductsSummary"), {
                type: "line",
                title: {
                        display: true,
                        text: "Top 10 Types",
                        fontSize: 20,
                        },
                data: {
                    datasets: TopProductsExpenditures
                }
            })
        </script>
    {% endblock %}
{% endblock %}