{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-10, col-sm-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="Bilance"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10, col-sm-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="BilanceSourcesOverTimechart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10, col-sm-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="BilanceTotalChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10, col-sm-6">
            <div class="card card-style mb-2">
                <h1>Net worth: {{ NetIncome }}</h1>
            </div>
        </div>
    </div>
</div>

    {% block javascript %}
        <script>
            let BilanceTotalLabels = JSON.parse({{ BilanceTotalLabels | tojson }})
            let BilanceTotalValues = JSON.parse({{ BilanceTotalValues | tojson }})
            let BilanceData = JSON.parse({{ BilanceData | tojson }})
            let BilanceSourcesData = JSON.parse({{ BilanceSourcesData | tojson }})
            
            let BilanceTotal = new Chart(document.getElementById("BilanceTotalChart"), {
                    type: 'pie',
                    data: {
                        labels: BilanceTotalLabels,
                        datasets: [{
                            label: "Total gain and loss",
                            data: BilanceTotalValues,
                            backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68',
                                '#B276B2', '#E16851', '#FB8267'],

                            borderWidth: 1,
                            hoverBorderColor: "black",
                            hoverBorderWidth: 2,
                            hoverBackgroundColor: 'rgba(154, 245, 140)',
                            pointHoverRadius: 5
                        }]
                    },
                    options: {
                            title: {
                                display: true,
                                    text: "Total gain and loss 2",
                                        fontSize: 20,
                            },
                            legend: {
                                position: "right",
                                    labels: {
                                    fontColor: "gray"
                                },
                                display: true
                            },

                            elements: {
                                hitRadius: 3,
                            }
                    }
                })

            let BilanceOverTime = new Chart(document.getElementById("Bilance"), {
                type: "line",
                data: {
                    datasets: BilanceData
                }
            })

            let BilanceSetOverTime = new Chart(document.getElementById("BilanceSourcesOverTimechart"), {
                type: "line",
                data: {
                    datasets: BilanceSourcesData
                }
            })
        </script>
    {% endblock %}
{% endblock %}