{% extends 'layout.html' %}

{% block content %}
    <h1>Righten</h1>
        <p>Righten is budget management and visualization tool, that helps users keep an eye on their home budget with ease.</p>
        <p>Feel free to click around.</p>

    <h2>Manual<h2>
    <ul>
        <li><a href="/manbasic">Basics</a></li>
        <li><a href="/mandata">Data management</a></li>
        <li><a href="/manvisual">Visualisations</a></li>
        <li><a href="/manaction">What to do with the information?</a></li>
        <li><a href="/manQnA">Questions and Answers</a></li>
    </ul>
{% endblock %}