{% extends 'layout.html' %}

{% block content %}
    <!--TODO: Finish me-->
    <h1>Budgeting</h1>
        <p>
            Home finances are a tricky thing, even though we all come to contact 
            with it on daily without much thought. Good finance management - 
            which is called <strong>budgeting</strong> - is important part of 
            ensuring your financial safety for the forseable future. Every 
            budget comprises of a few categories:
        </p>
        <ul>
            <li><strong>Income</strong> which is source of funds. There are many 
            different sources of income.</li>
            <li><strong>Spending</strong> which describes where have your funds 
            gone. As with income there are many possible destinations but there
            are two main categories:
                <ul>
                    <li><strong>Expenditures</strong> which are products you 
                    buy that are different day to day</li>
                    <li><strong>Bills</strong> which are recurring payments</li>
                </ul>
            </li>
        </ul>

        <!--TODO: Add example graph: 
            Compare spending by expenditures and Bills: 
            - summed by category (expenditures and Bills)
            - summed by type
            - summed by product/Medium
            - summed by essential & non-essential-->
        <p>
            The basic buget is just <strong>Income-(Bills+Expenditures)</strong> 
            and allows you to check how much of your finances is left at the end
             of the month and where have it gone. That's a good start, but 
            <strong>the more granular the data the more precise and actionable 
            information you get</strong>. The next step is to <strong>divide 
            each category into groups</strong>, for example: types of products 
            like food, clothing, equipment; and types of bills like: rent, 
            transportation, media. Doing so will let you see what exactly costs 
            you the most, knowing this you can plan your spending accordingly 
            and spend less where it is not needed. Next step - <strong>dividing 
            by specific product</strong> - lets you drill down and pinpoint 
            exactly what can you limit or cut entirely your spending on. It is 
            a lot of work but needless to say it pays off if you take action on 
            it. In case You don't want to go as deep, if You only want to know 
            how much you spend on things that you do and don't need, You can 
            <strong>set priority on type and product</strong>, and see at a 
            glance if your money goes to important or less important causes, and
             best yest - <strong>You decide what is important to you and what is
             not</strong>.
        </p>
        
        <!--TODO: Describe basic budget management-->
{% endblock %}