{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-10, col-sm-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="ExpendituresOverTime"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10, col-sm-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="TopTypeExpenditures"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10, col-sm-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="ExpendituresSummary"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10, col-sm-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="TopProductsSummary"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    {% block javascript %}
        <script>
            let ExpendituresSummaryChart = JSON.parse({{ ExpendituresSummaryChart | tojson }})
            let MonthlyExpenditures = JSON.parse({{ MonthlyExpenditures | tojson }})
            let TopTypeExpenditures = JSON.parse({{ TopTypeExpenditures | tojson }})
            let TopProductsExpenditures = JSON.parse({{ TopProductsExpenditures | tojson }})

            let ExpendituresSummarychart = new Chart(document.getElementById("ExpendituresSummary"), {
                type: 'pie',
                data: ExpendituresSummaryChart
            })

            let ExpendituresOverTime = new Chart(document.getElementById("ExpendituresOverTime"), {
                type: "line",
                data: {
                    datasets: [{
                        label: "Expenditures",
                        data: MonthlyExpenditures,
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }]
                }
            })

            let TopTypeExpenditureschart = new Chart(document.getElementById("TopTypeExpenditures"), {
                type: "line",
                title: {
                        display: true,
                        text: "Top 10 Types",
                        fontSize: 20,
                        },
                data: {
                    datasets: TopTypeExpenditures
                }
            })

            let TopProductsExpenditureschart = new Chart(document.getElementById("TopProductsSummary"), {
                type: "line",
                title: {
                        display: true,
                        text: "Top 10 Types",
                        fontSize: 20,
                        },
                data: {
                    datasets: TopProductsExpenditures
                }
            })
        </script>
    {% endblock %}
{% endblock %}