{% extends 'layout.html' %}
{% block content %}

<div class="col-sm-10 ml-auto mr-auto">
    <form action="" method="POST">
        {{ form.csrf_token() }}
        <fieldset class="form-group">
            <legend class="mb-4">Change my password</legend>

            <div class="col form-group">
                {{ form.password.label(class = "form-control-label") }}
                
                {% if form.password.errors %}
                    {{ form.password(class = "form-control form-control-sm is-invalid") }}
                    <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class = "form-control form-control-sm") }}
                {% endif %}
            </div>

            <div class="col form-group">
                {{ form.newpassword.label(class = "form-control-label") }}
                {{ form.newpassword(class = "form-control form-control-sm") }}
            </div>
            
            <div class="col form-group">
                {{ form.passwordrepeated.label(class = "form-control-label") }}
                
                {% if form.passwordrepeated.errors %}
                    {{ form.passwordrepeated(class = "form-control form-control-sm is-invalid") }}
                    <div class="invalid-feedback">
                    {% for error in form.passwordrepeated.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.passwordrepeated(class = "form-control form-control-sm") }}
                {% endif %}
            </div>

            <div class="col">
                {{ form.submit(class="btn btn-success", value="Submit")}}
                <a href="{{ url_for('settings') }}" class="btn btn-outline-danger btn-sm">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>
<br></br>

{% endblock %}