{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-10, col-sm-12">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="MonthlySpending"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10, col-sm-12">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="ProductPrioritychart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% block javascript %}
        <script>
            let MonthlySpendingData = JSON.parse({{ MonthlySpendingData | tojson }})
            let CashPercentageData = JSON.parse({{ CashPercentageData | tojson }}) //Figure out where to put it
            let MonthlyPossibleSavingsData = JSON.parse({{ MonthlyPossibleSavingsData | tojson }})
            let ProductPriorityData = JSON.parse({{ ProductPriorityData | tojson }})
            let TypePriorityData = JSON.parse({{ TypePriorityData | tojson }})
            let PriorityTargetData = JSON.parse({{ PriorityTargetData | tojson }})
            let SpendingTargetData = JSON.parse({{ SpendingTargetData | tojson }})
            

            let MonthlySpending = new Chart(document.getElementById("MonthlySpending"), {
                type: "line",
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: "Spending analysis",
                            fontSize: 20
                        }
                    }
                },
                data: {
                    datasets: [{
                        label: "Spending",
                        data: MonthlySpendingData,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1,
                        fill: {
                            target: 1,
                            below: 'rgb(75, 192, 192)'    // And blue below the origin
                        }
                    },
                    {
                        label: "Possible savings",
                        data: MonthlyPossibleSavingsData,
                        fill: false,
                        borderColor: "rgb(192, 75, 75)",
                        lineTension: 0.1,
                        fill: {
                            target: 'origin',
                            above: 'rgb(192, 75, 75)',   // Area will be red above the origin
                            below: 'rgb(75, 192, 192)'    // And blue below the origin
                        }
                    },
                    {
                        label: "Spending target",
                        data: SpendingTargetData,
                        fill: false,
                        borderColor: 'rgba(192, 75, 75, 0.3)',
                        lineTension: 0.1,
                        fill: {
                            target: 'end',
                            below: 'rgba(192, 75, 75, 0.3)'    // And blue below the origin
                        }
                    }
                    ]
                }
            })

            let ProductPrioritychart = new Chart(document.getElementById("ProductPrioritychart"), {
                type: "line",
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: "Priority",
                            fontSize: 20
                        }
                    },
                    scales: {
                        y:{
                            beginAtZero: true,
                            max: 100, // values over 500 will be hidden, OR
                            suggestedMax: 100, // maximum will be 500, unless there is a higher value
                        }
                    }
                },
                data: {
                    datasets: [{
                        label: "Product priority",
                        data: ProductPriorityData,
                        borderColor: "rgb(0, 0, 0)",
                        lineTension: 0.1,
                        fill: false
                    },
                    {
                        label: "Type priority",
                        data: TypePriorityData,
                        borderColor: "rgb(217,217,214)",
                        lineTension: 0.1,
                        fill: false
                    },
                    {
                        label: "Target",
                        data: PriorityTargetData,
                        borderColor: 'rgba(192, 75, 75, 0.3)',
                        lineTension: 0.1,
                        fill: {
                            target: 'end',
                            below: 'rgba(192, 75, 75, 0.3)'    // And blue below the origin
                        }
                    }
                    ]
                }
            })
        </script>
    {% endblock %}
{% endblock %}